html {
  background: #fff;
  font-family: 'Ubuntu', Arial;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


.ver-fuente, .ver-ejemplo {
	border: 1px solid red;
	background: white;
	color: red;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

pre, code {
	border: 1px solid #eee;
	background:  #f9f9f9;
	padding: 2px 4px;
}